@model System.Collections.Generic.List<ShopApplication.Users>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Список поцев</h2>

    <div class="row">
        <div class="col-lg-12 text-right mb-3">
        <a class="btn btn-success pull-right" href="@Url.Action("AddConfig")">Добавить</a>
        </div>
        <table class="table table-striped table-hover ">

            @using (var context = new StoreEntities3())
            {

                var table = context.Users.OrderBy(x => x.Id).ToList();

                <td><strong>Id #</strong></td>
                <td><strong>Name</strong></td>
                <td><strong>Age</strong></td>
                <td><strong>Description</strong></td>
                <td><strong>Action</strong></td>

                foreach (var item in table)
                {
                <tr>
                    @{
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Age</td>
                        <td>@item.Description</td>
                        <td><a href=@Url.Action("DeleteConfig", new {UserId = item.Id})>Удалить</a><br/>
                            <a class="btn btn-danger" href="@Url.Action("EditConfig", new {UserId = item.Id})">Редактировать</a></td>
                        
                    }
                </tr>
                }
            }
        </table>
    </div>
</div>

